@use '../utils/variables' as *;
@use '../components/extends' as *;
/* Klasy dla svg */
.icon {
  fill: currentColor;
  display: inline-block;
  &--top {
    margin-right: 0.625rem;
    vertical-align: middle;
  }
  &--social {
    display: block;
  }
  &--newsletter {
    margin-left: 1.5rem;
    display: inline-block;
  }
}
