@use '../utils/variables' as *;
@use '../components/extends' as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: white;
  transform: translateX(100%);
  @extend .default-transition;
  &__button {
    align-items: flex-end;
    fill: currentColor;
    @extend .default-transition;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: $logo;
    :hover {
      color: $active;
    }
  }

  & &__toggle {
    position: absolute;
    top: 1.375rem;
    right: 1.5rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__link {
    color: font-color('secondary');
    letter-spacing: 0.02em;
    font-size: 2.5rem;
    line-height: 1.175;
    @extend .default-transition;
    &:hover,
    &:focus {
      color: $active;
    }
    &--active {
      color: $active;
      font-size: 2rem;
      max-width: 100vw;
    }
  }

  &__social {
    * {
      border-right: 1px solid $border;
      margin-right: 0.625rem;
      display: inline-block;
    }
    &__link {
      color: $active;
      letter-spacing: 0.02em;
      font-size: font-size('medium-large');
      line-height: 1.22;
    }
    :last-child {
      border: none;
      margin: none;
      padding: none;
    }
  }

  &__email {
    font-size: 1.5rem;
    color: font-color('primary');
    letter-spacing: 0.02em;
    line-height: 1.16;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &.is-open {
    @extend .default-transition;
    transform: translateX(0);
  }
}

@media (min-width: $tablet-size) {
  .menu__toggle {
    display: none;
  }
}
