/* Klasy dla menu */
@use '../utils/variables' as *;
@use '../components/extends' as *;

.header {
  padding: 1rem 0px;
  background-color: font-color('contrast');
  border-bottom: 1px solid $stroke-color;

  &__hyperlink {
    color: font-color('secondary');
    @extend .default-transition;
    &:hover,
    &:focus {
      color: $active;
    }

    &--is-active {
      color: $active;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        transform: translateY(3.125rem);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0.25rem;
        background-color: $active;
        border-radius: 2px;
      }
    }
  }

  &__contacts {
    @extend .flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-left: 1rem;
    align-items: flex-start;
  }

  &__links {
    @extend .flex;
    flex-grow: 1;
    margin-left: 1rem;
    align-items: flex-start;
    gap: 3rem;
  }
}
@media (min-width: $desktop-size) {
  .header__contacts {
    flex-direction: row;
    align-items: flex-end;
    gap: 3rem;
  }
  .header__hyperlink--is-active:after {
    transform: translateY(3.0625rem);
  }
}

@media (min-width: $tablet-size) {
  .header {
    padding: 1.25rem 0px;
  }
}
@media (min-width: $desktop-size) {
  .header {
    padding: 1.75rem 0px;
  }
}

.nav {
  display: none;
  visibility: hidden;
  pointer-events: none;
  align-items: center;
}

@media (min-width: $tablet-size) {
  .nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.75;
    visibility: visible;
    pointer-events: auto;
  }
}
