/* Klasy dla menu */
@use '../utils/variables' as *;
@use '../components/extends' as *;

.header {
  padding: 1rem 0px;
  background-color: font-color('contrast');
  border-bottom: 1px solid $stroke-color;

  &__hyperlink {
    color: font-color('secondary');
    @extend .default-transition;
    &:hover,
    &:focus {
      color: $active;
    }

    &--is-active {
      color: $active;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        transform: translateY(45px);
        left: 0px;
        width: 53px;
        height: 0.25rem;
        background-color: $active;
        border-radius: 2px;
      }
    }
  }

  &__contacts {
    @extend .flex;
    margin-left: 1rem;
    align-items: flex-end;
    gap: 3rem;
  }

  &__links {
    @extend .flex;
    flex-grow: 1;
    margin-left: 1rem;
    align-items: flex-start;
    gap: 3rem;
  }
}
@media (max-width: $tablet-size) {
  .header__contacts {
    flex-direction: column;
    gap: 0.625rem;
  }
}

@media (min-width: $tablet-size) {
  .header {
    padding: 1.5rem 0px;
  }
}
.nav {
  @extend .flex;
  flex-grow: 0.75;
}

@media (max-width: $tablet-size) {
  .nav {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
