@use '../utils/variables' as *;
@use '../components/extends' as *;

/* Klasa project dla siatki w których są przykłady portfolio */
.box-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.75rem;
}

.project-box {
  position: relative;
  max-width: 450px;
  @extend .default-transition;

  &:hover,
  &:focus {
    @extend .portfolio-shadow;
    cursor: pointer;
  }

  &__picture {
    max-height: 294px;
  }

  &__text-box {
    position: relative;
    overflow: hidden;
    height: inherit;
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: font-size('medium-large');
    line-height: 1.55;

    color: font-color('contrast');
    text-align: left;
    padding: 3rem 2.75rem 3rem 1.5rem;
    background-color: $active-transparent;
    @extend .default-transition;
    &-box:hover &,
    &-box:focus & {
      transform: translateY(-100%);
    }
  }

  &__caption {
    position: relative;
    padding: 1.25rem 1.5rem;
    border: 1px solid $border-color;
    border-top: none;
    text-align: left;
  }

  &__title {
    font-size: font-size('medium-large');
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--secondary-color);
  }

  &__description {
    font-size: font-size('medium');
    line-height: 1.875;
    text-align: left;
  }
}

@media (min-width: $tablet-size) {
  .project-box {
    max-width: 354px;
  }
  .project-box__caption--techno {
    padding-bottom: 3.5rem;
  }
  .box-grid {
    justify-content: space-between;
  }
}

@media (min-width: $desktop-size) {
  .project-box {
    max-width: 370px;
  }
}
