$font-color: (
  'secondary': #212121,
  'primary': #757575,
  'primary-transparent': #75757580,
  'contrast': #ffffff,
  'address': #ffffff99,
  'newsletter': #ffffff99,
);

@function font-color($key) {
  @return map-get($font-color, $key);
}

$font-size: (
  'small': 0.75rem,
  'standard': 0.875rem,
  'medium': 1rem,
  'medium-large': 1.125rem,
  'large': 1.25rem,
  'logo': 1.625rem,
  'section-header': 2.25rem,
  'main-header': 2.75rem,
);

@function font-size($key) {
  @return map-get($font-size, $key);
}

@function spacing($key) {
  @return map-get($letter-spacing, $key);
}

$shadow: (
  'newsletter': rgba(0, 0, 0, 0.15),
  'standard': rgba(0, 0, 0, 0.25),
  'button': rgba(0, 0, 0, 0.25),
  'box-1': rgba(0, 0, 0, 0.12),
  'box-2': rgba(0, 0, 0, 0.14),
  'box-3': rgba(0, 0, 0, 0.2),
  'portfolio-1': rgba(0, 0, 0, 0.12),
  'portfolio-2': rgba(0, 0, 0, 0.06),
  'portfolio-3': rgba(0, 0, 0, 0.16),
);

@function shadow($key) {
  @return map-get($shadow, $key);
}
