/* Deklaracja zmiennych globalnych dla kolorów */
@forward '../utils/maps';
:root {
  --primary-color: #302ae6;
  --secondary-color: #212121;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --logo: #000000;
}

$active: #2196f3;
$active-transparent: rgba(33, 150, 243, 0.9);
$logo: #000000;
$border-newsletter: #ffffff4d;
$section-padding: 5.875rem;
$background-dark: #2f303a;
$background-dark-transparent: #2f303a66;
$background-overlay: rgba(0, 0, 0, 0.2);
$close-circle: rgba(0, 0, 0, 0.1);
$stroke-color: #ececec;
$border-color: #eeeeee;
$button-color: #f5f4fa;
$icon-color: #afb1b8;
$background-light: #e5e5e5;
$icon-background: rgba(255, 255, 255, 0.1);
$text-box-background: rgba(47, 48, 58, 0.8);
$border: #21212133;
$desktop-size: 1200px;
$tablet-size: 768px;
$mobile-size: 480px;
$min-size: 320px;
$important: #c73e1d;

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #fff;
  --font-color: #e1e1ff;
  --bg-color: #2f303a;
  --heading-color: #818cab;
  --logo: #fff;
  $important: #fff;
  $logo: #fff;
}
